*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    /* border: 1px solid red; */
}


/* banner styling part */
.banner-container{
    width: 1600px;
    height: 100vh;
    background-image: url(./resources/images/banner1.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: end;
    padding: 0 0 0 300px;
}
.banner-details{
    width: 525px;
}
h1{
    font-size: 65px;
    font-weight: 700;
    padding-bottom: 35px;
}
p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 30px;
}
.btn-banner{
    background-color: #F15B22;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 400;
    padding: 20px 25px;
    border-radius: 5px;
}


/* section-one || about past year area- styling */
.about-past-year{
    display: flex;
    align-items: center;
    margin:  0 250px;
}
.about-failure{
    width: 400px;
}
.section-title-1{
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    padding-bottom: 60px;
}
ul>li{
    margin: 10px 0px;
}


/* section 02 | about my plan */
.section-2{
    margin: 100px 0px;
    /* background-color: rgb(247, 255, 255); */
    background-color: red;
}
.section-title-02{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 120px 0px 80px 0px;
}
.plans-container{
    display: flex;
    justify-content: center;
    gap: 80px;
}
.plan{
    text-align: center;
}
.plan-title{
    font-size: 27px;
    font-weight: 700;
    margin: 20px 0px 10px 0px;
}
.plan-description{
    color: #737272;
    padding-bottom: 180px;
}


/* section 03 || New added section || about mentor*/
.section-3{
    width: 1200px;
    display: flex;
    gap: 20px;
    padding: 50px 0px 100px 200px;
}
.left-part{
    width: 350px;
}
.sub-title-1{
    font-size: 20px;
    font-weight: 100px;
    padding-bottom: 15px;
}
.section-title-03{
    font-size: 40px;
    font-weight: 700;
}
.right-part{
    width: 700px;
    height: 300px;  
    background-color: #f7f5f5;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 80px 20px 20px 180px;
}
q{
    font-size: 25px;
    font-weight: 200;
    line-height: 50px; 
}


/* section 03 || New added section || about mentor*/